.hero {
    display: flex;
    align-items: center;
    margin: 6rem 0;
    justify-content: space-between;
}

.hero > * {
    width: 45%;
}

.hero h1{
    margin-right: 2rem;
}

.mainText { margin-bottom: 3rem;}


@media (max-width: 800px) {
    .mainText { margin-bottom: 2rem;}

    .heroRight {
        display: none;
    }
    .hero h1{
        margin-right: 0;
    }
    .hero > * {
        width: auto;
    }
    
}


.container404 { 
    text-align: center;
    height:40vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end
}
