.textContainer {
    border-right: solid 4px black;
    animation: blink 1.5s;
    animation-iteration-count:infinite;
}

.textContainerEnd{
    visibility: hidden;
}

@keyframes blink { 50% { border-color: white; }  }