.menuContainer {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 3rem;
    align-items: center;
}

.logoText a {
    font-size:33px;
    color:inherit;
    text-decoration: none;
    white-space: nowrap;
}

.linksContainer {
    display: flex;
    margin: 0;
}

.linksContainer li a{
    color:inherit;
    text-decoration: none;
}

.linksContainer li:hover a{
    text-decoration: underline;
}

.linksContainer li {
    margin: 0 1rem;
    list-style: none;
}


@media (min-width: 500px) {
    .showBig {display:initial}
    .showSmall {display: none}
}
@media (max-width: 500px) {
    .showBig {display:none}
    .showSmall {display: initial}
}